:root{
    --orange-text: #f97315;
    --text-color: #334358;
    --light-bg: #f1f5f9;
    --grey-text: #808ea2;
    --sm-font-size: 16px;
    --white-color: #fff;
    --light-grey: #ddd;
}

/* :root{
    --vraible-name : value;

} */